<%= provide(:title, @taxon.name) %>
  <div class="main-wrapper">
    <%= render 'taxon_light_section', taxon: @taxon %>
    <!-- MAIN CONTENT SECTION -->
    <section class="mainContent clearfix productsContent">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
            <%= render 'search_categories', taxonomies: @taxonomies %>
            <%= render 'search_color' %>
            <%= render 'search_size' %>
          </div>
          <div class="col-md-9 col-sm-8 col-xs-12">
            <%= render 'edit_organize' %>
            <%= render 'product_grid', products: @products %>
          </div>
        </div>
      </div>
    </section>
    <%= render 'potepan/sample/light_section'%>
  </div>
